cliente/node_modules/
cliente/public/img
# Ignorar la carpeta de imágenes grandes
cliente/public/img/ninos/
cliente/public/img/

# Ignorar archivos GIF grandes
cliente/public/img/ninos/html.gif

# Ignorar LFS (si es necesario)
.git/lfs/
