/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Contenedor Principal */
.table-container {
  max-width: 100%;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-x: auto;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #041427;
  color: #ffffff;
  font-weight: bold;
}

table tr:hover {
  background-color: #f7f8fa;
}

/* Estilos para los botones */
button {
  padding: 10px 20px;
  background: #041427;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
}

button:hover {
  background-color: #03305e;
}

/* Modal */
#admin-management .modaladmin {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #f6f6f7;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.modaladmin h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #061c33;
}

.modaladmin form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modaladmin input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  table {
    border: 0;
    width: 100%;
  }

  table thead {
    display: none; /* Oculta encabezado en pantallas pequeñas */
  }

  table tbody tr {
    display: grid; /* Grid para layout responsivo */
    grid-template-columns: 1fr; /* Una columna */
    gap: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }

  table tbody tr td {
    display: flex; /* Flexbox para dividir encabezado y datos */
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
  }

  table tbody tr td::before {
    content: attr(data-label); /* Usa data-label como encabezado */
    font-weight: bold;
    color: #041427;
    flex-grow: 1;
  }

  table tbody tr td span {
    color: #555;
    flex-shrink: 0;
    text-align: right;
  }
}
