body {
    
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0; /* Elimina márgenes predeterminados */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

body {
    cursor: url('/public/img/adolescentes/cursor1.png'), auto;
 
}

body{
    background: 
   url('/public/img/adolescentes/arbol.png') left bottom no-repeat, /* Imagen del árbol en la parte inferior izquierda */
   url('/public/img/adolescentes/persona.png') right bottom no-repeat, /* Imagen del niño en la parte inferior derecha */
   url('/public/img/adolescentes/nube.png') left top no-repeat, /* Imagen del nube en la parte superior izquierda */
   url('/public/img/adolescentes/nube.png') right top no-repeat, /* Imagen del nube en la parte superior derecha */
   url('/public/img/adolescentes/suelo2.png') center bottom repeat-x, /* Imagen del suelo repitiéndose horizontalmente */
   #2E004B; /* Fondo morado oscuro */
 background-size: auto 200px, auto 200px, auto 180px, auto 180px, auto 80px, cover; /* Ajusta el tamaño de las imágenes */
 background-position: left bottom 65px, right bottom 65px, left top 65px, right top 65px, center bottom; /* Ajusta las posiciones para que queden encima del suelo */
 margin-top: 0;
 padding: 50px;
background-color: #2E004B !important;
 position: relative;
 display: flex;
 flex-direction: column; /* Coloca los elementos en columna */

}

@font-face {
    font-family: "RetroMario";
    src: url("/public/css/adolescentes/fonts/RetroMario-Regular.otf");
  }
  
.header {
    background-color: #461b61 ;/* Color de fondo de la franja */
    color: white; /* Color del texto */
    width: 100%; /* Ancho total */
    font-family: "RetroMario", sans-serif;
    font-size: 62px; /* Tamaño de fuente */
    text-align: center; /* Centrar texto */
    padding: 20px 0; /* Aumentar el espaciado interno */
    position: absolute; /* Posicionarlo en la parte superior */
    top: 0; /* Arriba */
    left: 0; /* A la izquierda */
    
}



.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center; /* Centrar elementos */
    align-items: center;
}

.zigzag {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 23px; /* Espacio entre los botones */
}

.level-button {
    width: 110px;
    height: 110px;
    background-color: #331f45; /* Color celeste */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border: 5px solid #271c30; /* Borde celeste para los botones */
    transition: border-color 0.3s;
    
}

/* Ajustes para el zigzag */
.level-button:nth-child(odd) {
    transform: translateY(20px); /* Mueve hacia abajo los círculos impares */
    background-color: #ffb300; 
    border: 5px solid #ffbb00; 
}

.level-button:nth-child(even) {
    transform: translateY(-20px); /* Mueve hacia arriba los círculos pares */
    background-color: #ffb300; 
    border: 5px solid #ffbb00; 
}

.level-button i {
    font-size: 35px;
    color: #ffffff; /* Blanco para el icono */
}




.gif-container {
    margin-left: 20px; /* Espacio entre los botones y el GIF */
}

.gif-container img {
    width: 250px; /* Tamaño aumentado */
    height: 210px; /* Tamaño aumentado */
    border-radius: 0; /* Sin borde redondeado */
}

.message {
    display: none;
    background-color: #4e2e63 ;
    color: white;
    padding: 10px; /* Padding reducido */
    margin-top: 50px; /* Margen ajustado */
    text-align: center;
    width: 100%; /* Ajustar ancho */
    animation: bounce 0.5s; /* Efecto de rebote */
}

.message h3 {
    margin: 5px 0;
    font-size: 20px; /* Tamaño de fuente reducido */
    font-family: "Orbitron", sans-serif;
    color: #ffffff;

}

.message p {
    margin: 5px 0;
    font-size: 13px; /* Tamaño de fuente reducido */
    font-family: 'Press start 2P';
    color: #ffffffb6;

}


.start-button {
    background-color: white;
    color: #df9c00;
    border: none;
    padding: 8px 16px; /* Padding reducido */
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s;
    font-family: "Orbitron", sans-serif;
}

.start-button:hover {
    background-color: #e0e0e0;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.question-popup {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Posicionamiento fijo */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar */
    z-index: 1000; /* Asegurarse de que esté por encima */
}

.thought-bubble {
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 30px; /* Espaciado interior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    position: relative; /* Posicionamiento relativo */
    text-align: center; /* Centrar texto */
    max-width: 400px; /* Ancho máximo aumentado */
    width: 350px; /* Ancho fijo */
}

.thought-bubble::after {
    content: '';
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 100%; /* Ubica la punta a la derecha */
    transform: translateY(-50%); /* Ajustar para centrar verticalmente */
    border-width: 10px; /* Tamaño de la punta */
    border-style: solid;
    border-color: transparent transparent transparent white; /* Color de la punta */
}

.options {
    margin: 15px 0; /* Margen entre la pregunta y las opciones */
}

.option-button {
    display: block; /* Cada botón en una nueva línea */
    background-color: #ffb300; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
    margin: 5px 0; /* Margen entre opciones */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición de color */
    width: 100%; /* Ancho completo */
    font-family: 'Press start 2P';
    font-size: 11px;
  
}

.option-button:hover {
    background-color: #c98e05; /* Color al pasar el ratón */
}

.final-popup {
    display: none; /* Oculto inicialmente */
    position: fixed; /* Posicionamiento fijo */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar */
    z-index: 1000; /* Asegurarse de que esté por encima */
    background-color: white; /* Fondo blanco */
    padding: 30px; /* Espaciado interior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    text-align: center; /* Centrar texto */
    max-width: 400px; /* Ancho máximo */
    width: 90%; /* Ancho adaptable */
    display: flex; /* Usar flexbox */
    align-items: center; /* Centrar verticalmente el contenido */
}

.thought-bubble {
    position: relative; /* Para permitir el posicionamiento absoluto del triángulo */
    padding: 20px; /* Espaciado interior de la burbuja */
}

.thought-bubble::after {
    content: '';
    position: absolute;
    top: 20px; /* Ajusta la posición vertical según sea necesario */
    left: -20px; /* Mueve el triángulo a la izquierda */
    border-width: 10px; /* Tamaño del triángulo */
    border-style: solid;
    border-color: transparent white transparent transparent; /* Color del triángulo */
}

.thought-bubble h3 {
    font-family: 'Press start 2P';
    font-size: 19px; /* Tamaño del título */
    color: #341952; /* Color del título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del texto */
    margin-bottom: 3px; /* Espacio debajo del título */
}

.thought-bubble p {
    font-family: "Orbitron", sans-serif;
    font-size: 15px; /* Tamaño del texto */
    color: #1b232786; /* Color del texto */
    margin: 0 0 20px 0; /* Espacio debajo del texto */
}

.start-button {
    font-family: "Orbitron", sans-serif;
    font-size: 20px; /* Tamaño del texto del botón */
    color: white; /* Color del texto del botón */
    background-color: #ffbb00; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interior del botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s, transform 0.2s; /* Efecto de transición */
}

.start-button:hover {
    background-color: #d0b205; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}


/* */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Great+Vibes&display=swap');

#certificado-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 5px solid #FFD700; /* Borde dorado */
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    text-align: center;
}
.titulo-diploma {
    font-family: 'Fredoka One', sans-serif;
    font-size: 5em;
    background: linear-gradient(90deg, #987604, #ffcfbd); /* Degradado dorado a naranja */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#certificado-window p {
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.2em;
    margin: 5px 0;
    line-height: 1.5;
    position: relative;
    z-index: 1; /* Asegura que el texto esté encima de la medalla */
}
.medalla {
    width: 150px; /* Tamaño de la medalla */
    position: absolute; /* Posicionamiento absoluto para superposición */
    top: -70px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    z-index: 0; /* Asegura que la medalla esté detrás del texto */
}

button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffd500; /* Color verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
}
button:hover {
    background-color: #e3be03; /* Color verde más oscuro */
}

/* CERTIFICADO */
.botones-certificado {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    margin-top: 10px;
}

.botones-certificado button {
    padding: 10px 20px; 
    font-size: 16px;
    margin-left: 10px; /* Espacio entre los botones */
    cursor: pointer;
}

.botones-certificado button:hover {
    background-color: #ffcfbd; /* Cambia el color al pasar el ratón */
}