@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
}

* {
  font-family: var(--poppins);
}

#video3.body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "header content";
  grid-auto-columns: 70px 1fr;
}

#video3.header {
 margin: 0;
    
}

#video3.content {
    background: url('/public/img/adolescentes/minecraft.jpg');
}

.main {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main__header {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #6c348e ;
  color: #C4C8CE;
  margin-top: 5rem;
  font-size: .95rem;
  margin: 15px px;
  padding: 0 0 0 20px;
  margin-bottom: 10px;

  .main__header-left {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 16px 10px;

    .curso__name {
      font-size: 1rem;
      font-family: "Orbitron", sans-serif;
      color:#ffffff
    }

    .curso__progreso {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
    }

    .curso__progreso-number {}

    .curso__progreso_barra {
      border-radius: .5rem;
      height: .38rem;
      overflow: hidden;
      background-color: #07090c;
      width: 100px;
    }

    .curso__progreso_barra-interna {
      width: 10px;
      height: 100%;
      background-color: #2bfc4e;
    }
  }

  .main__header-right {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    padding-right: 50px;

    button {
      background-color: #976aff; 
      border: none;
      height: 40px;
      border-radius: .5rem;
      color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 0.3s;

      &:hover {
        background:  #714fc1; 
      }
    }



    .main__header_btn-left {
      display: flex;
      justify-content: space-evenly;
      gap: 10px;
      width: 180px;

      button {
        &:first-child {
          width: 50px;
        }

        &:last-child {
          width: 50px;
        }
      }

      span {
        background-color: #976aff; 
        border: none;
        height: 40px;
        border-radius: .5rem;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        outline: #58ff74 solid 1px;
      }
    }

    .main__header_btn-right {
      button {
        width: 130px;
        display: flex;
        gap: 4px;

        svg {
          width: 20px;
          height: 20px;
          transition: transform 0.3s;
        }

        path {}

        &:active svg {
          transform: rotate(180deg);
        }
      }
    }
  }

}

.main__body {
  display: grid;
  grid-template-columns: auto 26.5vw;
  grid-template-rows: 1fr;
  gap: 10px;
  overflow: hidden;

  .main__left {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #e3d6ff #fef4d5;

    .curso__content-video {
      iframe {
        border-radius: 10px;
        box-shadow: 0 0 10px 2px #08090c;
        width: 100%;
        height: 75vh;
      }
    }

    .curso__content-info {
      color: rgb(18, 11, 11);
      margin: auto;
      width: 100%;
      padding: 43px;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      .session__name {
        font-size: 1.7rem;
        font-family: 'Press Start 2P', cursive;
        margin-bottom: 8px;
       
        color: rgb(106, 0, 255);
      }

      .session__fecha {
        font-size: 0.8rem;
        color: #15191e;
      }

      .session__recursos {
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .active {
          border-bottom: 1px solid rgb(168, 130, 255);
          color: #2D323A;
        }
      }

      .session__recursos-title {
        font-size: .9rem;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid #2D323A;
        color: #2D323A;

        &:hover {
          border-bottom: 1px solid #2D323A;
          color: #2D323A;
        }
      }


      .session__recursos_content {
        grid-column: span 2;
        margin: 20px 0 0 0;
      }

      .session__recurso {
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: #2D323A;
        font-size: .75rem;
        border-radius: 10px;

        .session__recurso_icon {
          background-color: #e5ffe4;
          border-radius: 50%;
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 25px;
            height: 25px;
          }
        }

        &:hover {
          background-color: #ffe0ad;
        }
      }
    }
  }

  /*comentarios */

  .main__right {
    background-color:  #ffa600c9;
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #2d323a #1e2229;
    display: flex;
    flex-direction: column;

    .main__aside {
      .main__aside-tabs {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: .85rem;
        background-color: #ffcf99;

        .active {
          background-color: #ffcf99;
          color: #000000;
        }
      }

      .main__aside-tab {
        flex: 1;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        transition: background .2s;
        color: #060505;

        &:hover {
          background-color: rgb(122, 99, 40)c9;
        }
      }
    }


  }
}

.main__right-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  .comentarios {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    display: flex;
  }

  .active {}
}

.comentarios {
  .comentarios__content {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
    color: #c4c8ce;

    .comentario {
      padding: 10px;
      position: relative;
      display: flex;
      gap: 5px;

      .comentario__avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 6px 4px 0 0;
        background-color: #0381ff;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .comentario__left {
        width: 32px;
        display: flex;
        flex-direction: column;

        #comentario__option {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          border: none;
          background: none;

          label {
            font-size: 12px;
            cursor: pointer;
            color: #ffffff;
          }

          svg {
            width: 24px;
            height: 24px;
          }

          path {
            fill: rgba(255, 0, 0, 0);
            stroke: rgb(255, 255, 255);
          }
        }

        .liked path {
          fill: red !important;
          stroke: red !important;
        }
      }
    }

    .comentario__right {
      font-size: .7rem;

      .comentario__content {
        padding: 6px 7px 12px;
        border-radius: 0 .75rem .75rem .75rem;
        background-color: #976aff;
      }

      .comentario__header {
        .comentario__name {
          font-size: 14px;
          color: white;
        }

        .comentario__fecha {
          font-size: 12px;
          color: white;
          margin-left: 10px;
        }
      }

      .comentario__body {
        color: white;
        font-size: 14px;
      }

      .comentario__option {
        display: flex;
        justify-content: space-between;
        padding: 8px 0 0;

        button {
          cursor: pointer;
          display: flex;
          gap: 10px;
          font-size: 12px;
          color: #ffffff;
          border: none;
          background: none;

          svg {
            width: 16px;
            height: 16px;
          }

        }
      }

      .comentario__reply {
        padding: 0;

        .comentario__line_extend {
          position: absolute;
          background-color: #2d323a;
          height: 86%;
          width: 2.5px;
          top: 30px;
          left: -23px;
          border-radius: 2px;
          z-index: 10;
          transform: rotate(180deg);
        }

        .comentario {
          padding: 10px 10px 10px 0px;
        }
      }
    }

  }
}

.comenarios__options {
  margin: 20px 10px;

  .comentarios__form {
    display: flex;

    input {
      width: 100%;
      background-color: #e3d6ff;
      color: #87909d;
      border: none;
      border-radius: 10px;
      padding: 9px 10px;
      font-size: .86rem;

      &::placeholder {
        color: #87909d;
      }
    }
  }
}


.boton-desactivado {
  cursor: inherit !important;
  opacity: 0;
}